<!DOCTYPE html>
<html>
  <head>
    <title>Get Customer</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
  </head>
  <body>
    <h1>Get a Specific Customer</h1>
    <div class="form-container">
      <form method="get" action="javascript:void(0);">
        <label for="contact_name" class="form-label">Contact Name:</label>
        <input type="text" id="contact_name" name="contact_name" class="form-input" />
        <button type="button" onclick="searchCustomer()" class="form-button">Search</button>
      </form>
    </div>
    <div id="customer_result" class="center-card-result"></div>
  </body>
</html>

<script>
  function searchCustomer() {
    var contactName = document.getElementById("contact_name").value;
    var resultContainer = document.getElementById("customer_result");

    fetch(`/search_customer?contact_name=${contactName}`)
      .then((response) => response.json())
      .then((data) => {
        if (data.customerid) {
          // Create a card to display the customer information
          var resultHTML = `
                        <div class="card">
                            <h2>Customer Found:</h2>
                            <p>ID : ${data.customerid}</p>
                            <p>Company : ${data.companyname}</p>
                            <p>Contact : ${data.contactname}</p>
                        </div>
                    `;
          resultContainer.innerHTML = resultHTML;
        } else {
          var resultNotFoundHTML = `<p>${data.message}</p>`;
          resultContainer.innerHTML = resultNotFoundHTML;
        }
      });
  }
</script>
