<!DOCTYPE html>
<html>
<head>
    <title>List of Customers</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
    <h1>List of Customers (First 20)</h1>
    <div class="card-container">
        {% for customer in customers %}
            <div class="card">
                <h2>ID : {{ customer.customerid }}</h2>
                <p>Company : {{ customer.companyname }}</p>
                <p>Contact : {{ customer.contactname }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
