<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
    <h1>Customer Management</h1>
    <div class="button-container">
        <button class="custom-button" onclick="location.href='/add_customer'">Add Customer</button>
        <button class="custom-button" onclick="location.href='/get_customer'">Get Customer</button>
        <button class="custom-button" onclick="location.href='/get_all_customer'">Get All Customers</button>
    </div>
</body>
</html>
