@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background: linear-gradient(to bottom, #debced, #b671b8);
    background-size: 100% 100vh; /* 100% de la largeur, 100vh de la hauteur */
    text-align: center;
    padding: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.custom-button {
    padding: 10px 20px;
    font-size: 16px;
}


h1 {
    color: #000000;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    color: #fff;
    margin: 10px 0;
}
