<!DOCTYPE html>
<html>
<head>
    <title>Get Customer</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <h1>Get a Specific Customer</h1>
    <form method="get" action="javascript:void(0);">
        <label for="contact_name">Enter Contact Name:</label>
        <input type="text" id="contact_name" name="contact_name" required>
        <button type="button" onclick="searchCustomer()">Search</button>
    </form>
    <div id="customer_result"></div>
</body>
</html>

<script>
    function searchCustomer() {
        var contactName = document.getElementById("contact_name").value;
        var resultContainer = document.getElementById("customer_result");
        
        fetch(`/search_customer?contact_name=${contactName}`)
            .then(response => response.json())
            .then(data => {
                if (data.customerid) {
                    // Format and display the search results in the result container
                    var resultHTML = `<p>Customer Found :</p>`;
                    resultHTML += `<p>ID: ${data.customerid}</p>`;
                    resultHTML += `<p>Company Name: ${data.companyname}</p>`;
                    resultHTML += `<p>Name: ${data.contactname}</p>`;
                    resultContainer.innerHTML = resultHTML;
                } else {
                    var resultNotFoundHTML = `<p>${data.message}</p>`;
                    resultContainer.innerHTML = resultNotFoundHTML;
                }
            });
    }
</script>